<ul data-test-simple-list>
  <caption data-test-simple-list-caption>Hello, List!</caption>
  <li data-test-simple-list-item>
    Foo
  </li>
  <li data-test-simple-list-item class="is-active">
    Bar
  </li>
  <li data-test-simple-list-item>
    Baz
  </li>
</ul>
