name: Ember Classy Page Object CI
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - master
      - main
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-ember-try:
    name: Run Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ember-version:
          [
            embroider-safe,
            embroider-optimized,
            ember-lts-3.28,
            ember-lts-4.4,
            ember-lts-4.8,
            ember-lts-4.12,
            ember-lts-5.4,
            ember-lts-5.8,
            ember-lts-5.12,
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: volta-cli/action@v4
      - name: Install global node version
        run: |
          NODE_VERSION=$(cat package.json | jq -r ".volta.node")
          volta install "node@${NODE_VERSION}"
      - name: Install corepack
        run: |
          volta install corepack@latest
          corepack enable --install-directory "$VOLTA_HOME/bin"
      - name: Pnpm cache metadata
        id: pnpm-cache
        run: echo "store-dir=$(pnpm store path)" >> "$GITHUB_OUTPUT"
      - name: Node Modules Cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-cache.outputs.store-dir }}
          key: ci-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ matrix.ember-version }}
          restore-keys: |
            ci-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}-
      - name: Install
        run: pnpm install --frozen-lockfile
      - name: Run Tests
        run: node_modules/.bin/ember try:one ${{ matrix.ember-version }} --skip-cleanup

  tests-all:
    runs-on: ubuntu-latest
    needs: test-ember-try
    if: failure() || cancelled()
    steps:
      - run: exit 1
